uvicorn
gradio
kadi_apy
numpy
faiss-cpu
PyPDF2
python-docx
pandas
markdown
fastapi
starlette
authlib
requests
sentence-transformers
python-dotenv
langchain-groq
langchain-community
huggingface_hub
PyYAML
pymupdf
chromadb
nltk
transformers
async-timeout
aiohttp
python-multipart
python-jose